
.description {
  left: 50%;
  position: absolute;
  top: 42%;
  transform: translate(-50%, -55%);
  text-align: center;
}

.description h1 {
  color: #283df7;
  background: rgba(16, 8, 32, 0.795);
}

.description p {
  color: rgb(228, 39, 39);
  font-size: 1.3rem;
  line-height: 1.5;
}

.description a {
  border: 1px solid #6f50a1;
  background: hsla(263, 34%, 47%, 0.745);
  border-radius: 0;
  color: rgb(252, 241, 241);
}

.description a:hover {
  border: 1px solid #fff;
  background: rgb(61, 20, 158);
  color: rgb(65, 240, 59);
}

.pengallery {
  text-align: left;
  position: relative;
  top: 20%;
}

.contact {
  background: hsla(263, 34%, 47%, 0.645);
  border-width: 2px;
  border-style: solid;
}

.img-responsive {
  height: 45%vh;
  width: auto;
  padding-top: 5rem;
}

.about_words {
  background-color: rgba(16, 8, 32, 0.845);
  padding: 2rem 2rem;
  justify-content: left;
  max-width: 75%;
  margin-left: 10%;
  align-content: flex-start;
  color: rgb(238, 235, 80);
}

.fixed-top {
  background: rgba(16, 8, 32, 0.795);
}

.navbar-nav a:visited {
  color: #cddf67;
}

.navbar-nav .nav-link:hover {
  background-color: rgb(156, 25, 25);
}

.navbar-nav .nav-link.active {
  background-color: #6f50a1be;
  color: aqua;
}

.nav-link {
  margin-right: 25px;
  margin-left: 25px;
}

.form-group label {
  color: ivory;
}

/* Media Queries */
@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 25%;
    transform: none;
    text-align: center;
  }

  .description h1 {
    font-size: 2em;
  }

  .description p {
    font-size: 1.2rem;
  }

  .pengallery {
    text-align: left;
    word-wrap: normal;
  }
}

.container {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 4.25rem);
  place-content: center;
  gap: 1rem;
  text-align: center;
}

.dark-mode {
  background-color: #333;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 2px #d021f3;
}

input:checked + .slider:before {
  transform: translateX(1.63rem);
}
